{% extends 'base/base.html' %}
{% block title %}
SAAF - Activos
{% endblock %}
{% block content %}
<div>
	<div class="header-title">
        <br>
		<h3><font color="#908F8F">Eliminar Activo</font></h3>
        <hr/>
	</div>
	<form class="form-eliminar" method="post">
        {% csrf_token %}
        <h3>¿Desea eliminar el registro de {{ usuario.descripcion }}?</h3>
        <button class="btn btn-danger" type="submit">Sí, eliminar</button>
        <a class="btn btn-default" href="{% url 'usuario:listar' %}">Cancelar</a>
	</form>
</div>
{% endblock %}

{% block footer %}
{% endblock %}