.form-signin {
	width: 300px;
	margin: auto;
}
input {
	margin-bottom: 5px;
}
.form-signin-heading {
	text-align: center;
}
.header-title {
	text-align: center;
}
abbr:hover {
	cursor: pointer;
}
.form-crear {
	width: 600px;
	margin: 20px auto 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.form-eliminar, .acciones {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.form-eliminar * {
	margin: 5px;
}
.acciones {
	justify-content: space-around;
}
th{
    background-color: #F5861E; 
    color: white;
}