{% extends 'base/base.html' %}
{% load staticfiles%}
{% block header %}
{% endblock %}

{% block content %}
<div class="container container-login">
	<div class="header-title">
		<div class="login-header">
			<figure><img src="{% static 'img/enjoy_sm.png' %}"></figure>
		</div>
		<h2>Sistema de Administración de Activos Fijos</h2>
	</div>
	<form class="form-signin" method="POST">
		{% csrf_token %}
		<h2 class="form-signin-heading">Iniciar sesión</h2>
		<label for="inputUser" class="sr-only">Usuario</label>
		<input type="text" id="inputUser" class="form-control" name="username" placeholder="Usuario" required autofocus>
		<label for="inputPassword" class="sr-only">Contraseña</label>
		<input type="password" id="inputPassword" class="form-control" name="password" placeholder="Contraseña" required>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
	</form>
</div> <!-- /container -->
{% endblock %}

{% block footer %}
{% endblock %}