{% extends 'base/base.html' %}
{% block title %}
SAAF - Activos
{% endblock %}
{% block content %}
<div class="header-title">
    <br/>
	<h3>Lista de Activos Fijos</h3>
    <hr/>
</div>
<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
                
				<th >#</th>
				<th>DESCRIPCIÓN</th>
				<th>Categoría</th>
				<th>Estado</th>
				<th>Condición</th>
				<th>Proveedor</th>
				<th>Responsable</th>
				<th colspan="2" style="text-align: center;">Acciones</th>
			</tr>
		</thead>
		<tbody>
			{% if activos %}
				{% for activo in activos %}
				<tr>
					<td>{{ activo.id }}</td>
					<td>{{ activo.descripcion }}</td>
					<td>{{ activo.categoria }}</td>
					<td>{{ activo.estado }}</td>
					<td>{{ activo.condicion }}</td>
					<td>{{ activo.proveedor }}</td>
					<td>{{ activo.responsable }}</td>
					<td><a class="btn btn-primary btn-sm">Editar</a></td>
					<td><a class="btn btn-danger btn-sm">Eliminar</a></td>
				</tr>
				{% endfor %}
			{% else %}
			<h3>No hay registro de activos</h3>
			{% endif %}
		</tbody>
	</table>
</div>
{% endblock %}

{% block footer %}
{% endblock %}